* {
  margin: 0;
  padding: 0;
}

/* Styles */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 69px;
  z-index: 1;
  border-bottom: 1px solid seashell;
  background-color: black;
}

nav span {
  display: inline-block;
  margin-right: 10px;
  text-decoration: underline;
}

a {
  color: seashell;
}

div {
  display: block;
}



/* Header */

div.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

/* Main */

.main {
  width: 1200px;
  padding-top: 70px;
  margin: 0 auto;
}

/* Mission */

.mission {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  width: 100%;
  align-items: center;
  background-color: black;
}

.content h2 {
  margin-bottom: 10px;
}

/* Teas of the Month */

.teas {
  padding-top: 70px;
  padding-bottom: 70px;

}

.teas h4{
  padding-bottom: 25px;
  padding-top: 25px;
}

.teas-images h4 {
  margin-top: 10px;
}

.tea-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
}

.teas img {
  height: 200px;
  width: 300px;
  margin-bottom: 0;
}

.berries {
  margin-left: 0;
  margin-right: 25px;
}

.rum {
  margin-left: 25px;
  margin-right: 25px;
}

.donut {
  margin-left: 25px;
  margin-right: 0;
}

.myrtle {
  margin-top: 25px;
  margin-right: 25px;
}

.bedford {
  margin-top: 25px;
  margin-left: 25px;
}

/* Locations */

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 15px;
  padding-bottom: 100px;
}

.address h3 {
  padding-top: 20px;
}

.address p {
  padding-top: 30px;
  padding-bottom: 25px;
}

.downtown {
  background-color: black;
  height: 300px;
  width: 300px;
  margin-right: 20px;
  opacity: 1;
}

.east-bayside {
  background-color: black;
  height: 300px;
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 1;
}

.oakdale {
  background-color: black;
  height: 300px;
  width: 300px;
  margin-left: 20px;
  opacity: 1;
}

/* Footer */

.footer {
  width: 100%;
  height: 200px;
}
